// 首页
- var PAGE_ACTIVE = theme.nav.home.url;

include inc/navbar.pug
.main
  .container.home
    .article-list
      - page.posts.each(function(post){
        .article-list-item
          a(href=url_for(post.link || post.path) class="title") #{post.title}
          //- p.excerpt #{post.excerpt}
          p!= list_tags(post.tags, { show_count: false, style: 'link' })
          time #{date(post.date, config.date_format)}
          
      -})
    .pagination!= paginator({prev_next:false})

