// 首页
- var PAGE_ACTIVE = theme.nav.home.url;
- page.posts.each(function(post){
-    post.tags.each(function(tag){
-      console.log(tag.name)
-      console.log(tag.permalink)
-    })
- })

include inc/navbar.pug
.main
  .container.home
    .article-list
      - page.posts.each(function(post){
        .article-list-item
          h3
            a(href=url_for(post.link || post.path) class="title") #{post.title}
          //- p.excerpt #{post.excerpt}
          //- p.tags
          //-   - post.tags.each(function(tag){
          //-     a(href=url_for(tag.permalink) class="tag-link") #{tag.name}
          //-   - })
          //-  !{list_tags(post.tags, { show_count: false, style: 'link' })}
          time #{date(post.date, config.date_format)}
      - })
    .pagination!= paginator({prev_next:false})

