include inc/navbar.pug
.main
  .container.post
    h1 #{page.title}
    .meta
      time= date(page.date, config.date_format)
      if page.tags && page.tags.length
        .tags
          - page.tags.each(function(tag){
            a(href=url_for(tag.path) class="tag-link") #{tag.name} 
          -})
    article#markdown!= page.content
